[submodule "media"]
	path = media
	url = https://github.com/johnneerdael/media.git
	branch = main
[submodule "dovi_tool"]
	path = dovi_tool
	url = https://github.com/johnneerdael/dovi_tool.git
	branch = nuvio-capi-preserve-mapping-mode
[submodule "nexio-web"]
	path = nexio-web
	url = https://github.com/johnneerdael/nexio-web.git
	branch = main
[submodule "tools/frontiersimulator"]
	path = tools/frontiersimulator
	url = https://github.com/johnneerdael/frontiersimulator.git
